{% extends "base.html" %}

{% block content %}
    <div class="login-container">
        <h1>Sign Up</h1>
        <form action="{{ url_for('signup') }}" method="post" class="login-form">
            <input type="text" name="username" class="input" placeholder="Username" required>
            <input type="password" name="password" class="input" placeholder="Password" required style="margin-top: 15px;">
            <input type="text" name="name" class="input" placeholder="Name" required style="margin-top: 15px;">
            <input type="email" name="email" class="input" placeholder="Email" required style="margin-top: 15px;">
            <button type="submit" class="btn" style="background-color: #006000; color: white;">Sign Up</button>
        </form>
        <a href="{{ url_for('login') }}">Already have an account? Log In</a>
    </div>
{% endblock %}
